<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-cnXMsN2pImxAz8llZfsjnBRHCvI_P-s</string>
	<key>GCM_SENDER_ID</key>
	<string>617857870831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSC780.Seen</string>
	<key>PROJECT_ID</key>
	<string>seen-csc780</string>
	<key>STORAGE_BUCKET</key>
	<string>seen-csc780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617857870831:ios:6e0c84737f307e0dcf241a</string>
</dict>
</plist>